.contenedorCalendar {
  height: 60vh;
  width: 70vw;
  border-radius: .5rem;
  background: rgba( 53, 39, 126, 0.25 );
  box-shadow: 5px 5px 12px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
