.header{
    height: 17vh;
    background-color: #0f0f0f;
    display:flex;
    justify-content:center;
    align-items:center;
}
.contenedorGeneral{
    min-height: 83vh;
    display:grid;
    place-content: center;
    padding: 5rem;
  }