.contendorSidebar{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
@media (min-width: 768px) {
    .contendorSidebar{
        display: flex;
        align-items: center;
    }
}
.contendorSidebar.activo{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    z-index: 15;
}
.sidebar{
    position: absolute;
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    background-color: #553adb;
    border-radius: 50%;
    top: 16vh;
    left: 2rem;
    cursor: pointer;
    transition-property: width, height, background-color, border-radius;
    transition-duration: .5s;
}
@media (min-width: 768px) {
    .sidebar{
        position: static;
        height: 60%;
        border-radius: 0 1rem 1rem 0;
        display: flex;
        align-items: center;
    }
}
.sidebar.activo{
    height: 60%;
    width: 85vw;
    border-radius: 1rem;
    cursor: default;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    z-index: 12;
}
@media (min-width: 368px) {
    .sidebar.activo{
        width: 30rem;
    }
}
@media (min-width: 768px) {
    .sidebar.activo{
        align-items: flex-start;
        border-radius: 0 1rem 1rem 0;
    }
}
.sidebar:hover{
    background-color: #553adb;
}
.sidebar header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sidebar header p{
    font-size: 4rem;
    cursor: pointer;
    transition: transform .4s;
}
.sidebar header p:hover{
    transform: rotate(90deg);
}
.contenedorEventos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    overflow-y: scroll;
    height: 80%;
}
.contenedorEventos::-webkit-scrollbar {
    display: none;
}
.evento{
    border-bottom: .1rem solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.textos{
    display:flex;
    flex-direction: column;
}
.evento svg{
    cursor: pointer;
    fill: none;
    stroke: white;
    transition: stroke .4s;
}
.evento svg:hover{
    stroke: #bb0000;
}
.sidebar svg{
    color: white;
}