html{
  font-size: 62.5%;
  box-sizing:border-box;
}
*, *:before, *:after{
  margin:0;
  padding:0;
  appearance: none;
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
}
body{
  font-size: 16px;
  /* Esto lo que hace es que 1rem equivalga a 10px */
  background-color: #262626;
  height: 100vh;
}